// Helper mixins
@mixin hide-elements-by-param($titles, $parameter: title) {
  @each $title in $titles {
    &[#{$parameter}^='#{$title}'] {
      display: none;
    }
  }
}

@mixin hide($element) {
  #{$element} {
    display: none;
  }
}

// Hide parts of excalidraw we don't want users to use
.excalidraw-editor-container {
  margin: '2px';
  height: calc(100% - 4px);

  // Disable toolbar items we don't want users to use
  $titles: 'Rectangle', 'Diamond', 'Ellipse', 'Arrow', 'Line', 'Text', 'Keep selected';
  div.App-toolbar .Stack {
    label.ToolIcon {
      @include hide-elements-by-param($titles);
    }

    @include hide('.App-toolbar__divider');
    @include hide('.App-toolbar__extra-tools-trigger');
  }

  // Remove items from mobile toolbar sidebar we don't want users using
  $mobileItems: 'Library', 'Keep selected';
  div.mobile-misc-tools-container {
    label {
      @include hide-elements-by-param($mobileItems);
    }
  }

  // Remove items from bottom toolbar we don't want users using
  $toolbarItems: 'Edit', 'Duplicate', 'Redo', 'Undo';
  div.App-toolbar-content {
    button {
      @include hide-elements-by-param($toolbarItems, 'aria-label');
    }
  }

  // Hide text element input boxes
  .excalidraw-textEditorContainer {
    opacity: 0;
  }
}

.excalidraw-view-container {
  min-height: 200px;

  .App-bottom-bar {
    display: none;
  }
}

.latex-preview {
  flex-grow: 1;
}
