body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li:not(:last-child) {
    border-bottom: 1px solid var(--gray-6);
  }
}

/* Global RadixUI Themes override */
.rt-Card {
  --card-padding: 0;
  --card-border-radius: var(--radius-3);
}
